@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: rgb(22, 7, 56);
  /* width: calc(100% - white); */
}